.card-img-top{
    border-radius: 2.5%;
    border: 6px solid skyblue;
}

.card{
    margin-left: 24px;
    margin-top: 24px;
    border: 6px solid slategrey;
}

.nav{
    margin: 32px;
}

.hiring{
    margin-left: 240px;
}